registry=https://registry.npmjs.org/
fetch-retries=5
fetch-retry-factor=2
fetch-retry-maxtimeout=60000
fetch-retry-mintimeout=5000
network-concurrency=1
prefer-online=true
strict-ssl=true
progress=false
audit=false
fund=false
engine-strict=false
legacy-peer-deps=true

